/* Track */
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes bounceOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
}
@keyframes bounceOut {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
    }
}
/*footer css*/
#footer_9211 a{text-decoration: none;}
#footer_9211 ol,
#footer_9211 ul,
#footer_9211 li
{
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
#footer_9211 p {
    margin: 0;
}
#footer_9211 {
    margin-top: 20px;
    font-size: 12px;
    color: #616161;
    font-family: \5FAE\8F6F\96C5\9ED1;
    border-top: 2px solid #2DA5DA;
    background: #fff;
    padding: 35px 0;
}
#footer_9211 .main {
    margin: 0 auto;
    width: 980px;
}
#footer_9211 .fotMain {
    margin: 0 auto;
    width: 790px;
}
#footer_9211 .log {
    float: left;
    border-right: 1px solid #e2e2e2;
    padding-right: 20px;
}
#footer_9211 .log a {
    background: url('../../i/footer/log_bg.png') no-repeat;
    width: 208px;
    height: 54px;
    display: block;
}
#footer_9211 .fotRight {
    float: left;
    padding-left: 20px;
}
#footer_9211 .fotRight .fotCot {
    *zoom: 1;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
#footer_9211 .fotRight .fotCot:before,
#footer_9211 .fotRight .fotCot:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#footer_9211 .fotRight .fotCot:after {
    clear: both;
}
#footer_9211 .fotRight p {
    line-height: 20px;
}
#footer_9211 .fotRight .botIco {
    padding-top: 3px;
}
#footer_9211 .fotUl li {
    float: left;
    line-height: 16px;
}
#footer_9211 .fotUl li a {
    font-size: 14px;
    color: #616161;
}
#footer_9211 .fotUl li a:hover {
    color: #2da5da;
}
#footer_9211 .fotUl li span {
    padding: 0 30px;
}
#footer_9211 .botIco a {
    display: inline-block;
    width: 90px;
    height: 47px;
    margin-right: 10px;
    background-image: url("../../i/footer/footer-ico.png");
    background-repeat: no-repeat;
}
#footer_9211 .botIco .botIco01 {
    background-position: 0 0;
}
#footer_9211 .botIco .botIco02 {
    background-position: -95px 0;
}
#footer_9211 .botIco .botIco03 {
    width: 43px;
    background-position: -190px 0;
}
/*# sourceMappingURL=../css/footer.css.map */